.social-icon {
    width: 1.5rem;
    cursor: pointer;
    outline: none;
}
.share {
    outline: none;
}
.article-body {
    line-height: 2rem;
    font-weight: 300;
}
.article-image{
    width: 100%;
    object-fit: contain;
    height: 30rem;
}
@media screen and (max-width: 575px) {
    .article-title {
        font-size: 6vw;
    }
}
