.EmailShareModal {
    .title {
        color: $secondary-color;
    }
    .label {
        color: $secondary-color;
        font-size: 0.7rem;
        width: 7rem;
    }
    .body {
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        height: 200px;
        background-color: $light-grey-color;
        padding: 10px 10px 0;
    }
    .submit-btn {
        background-color: $primary-color;
    }
    @media (max-width: 575.98px) {
        .label {
            width: 7rem;
        }
    }
}