.reset-form {

  &-input {
    margin: 2rem 0;
  }

  &-placeholder-text {
    background-color: $primary-color;
    color: $white-color;
    font-size: .7rem;
    width: 7rem;
  }


  &-header-text {
    color: $primary-color;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
  }

  h4.reset-form-header-text.reset-text {
    margin-top: 3rem;
  }

  &-follower-text {
    color: $primary-color;
    margin-bottom: 2rem;
    text-align: center;
  }

  &-btn {
    width: 9rem;
    display: block;
    margin: 3rem auto;
    text-transform: uppercase;
    background-color: $primary-color;
    color: $white-color;

    @media screen and (max-width:425px) {
      width: 100%;
      margin: 3rem auto;
    }

    &:hover {
      background-color: $secondary-color;
    }
  }

  @media screen and (max-width:425px) {
    font-size: 1rem;
  }

  @media screen and (max-width: 575px) {
    width: 15rem;
    margin: 5rem auto;
  }
}
