#reset-cancel-icon {
  margin-left: 3%;
  margin-top: 1.5rem;
  display: inline-block;
  height: 2rem;
  right: 1rem;
  top: 0.5rem;
  width: 2rem;
  color: $secondary-color;

  &:hover {
    cursor: pointer;
  }

  @media screen and (max-width:425px) {
    margin-left: 85%;
  }
}
